@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
  --color-bg-primary: #000a14;
  --font-playfair: "Playfair Display", serif;
  --font-plus-jakarta: "Plus Jakarta Sans", sans-serif;
}
